<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	  <title>AgendaOnline</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>

</head>
<body>

	  <!-- HEADER -->
	  <header th:fragment="header">
		<div class="navbar-fixed">
		<nav class="menu">
		    <div class="nav-wrapper">
		     
		      <div class="menu-itens">
			      <ul class="menuesquerda left hide-on-med-and-down">
			        <li><a href="#">Procedimentos</a></li>
			        <li><div class="botao"><a href="#modal5" class="waves-effect waves-light btn modal-trigger"><i class="material-icons left">add_circle</i>Cadastrar Procedimento</a></div></li>
			      </ul>
			      <ul id="nav-mobile" class="menudireita right hide-on-med-and-down">
			        <li><a href="#">Login</a></li>
			        <li><a href="#">Usuário</a></li>
			        <li><a href="#">Empresa</a></li>
			      </ul>
		      </div>
		      
		    </div>
		  </nav>
		  </div>
	  </header>
	
	
	 <!-- ASIDE -->
	  <div th:replace="LayoutPadrao:: aside"></div> <!-- Carregando o aside do arquivo externo layoutPadrao -->
	  
	  
	  <!-- SECTION -->
	  <section class="conteudo" th:fragment="conteudo"> <!-- section com conteudo criado aqui nesta mesma página -->
		  <!-- Conteudo -->
		  <table class="responsive-table">
		  	<thead>
		  		<tr>
		  			<th>Procedimentos</th>
		  			<th>Editar</th>
			  		<th>Remover</th>
		  		</tr>
		  	</thead>
		  	<tbody>
			  <tr th:each="procedimento : ${procedimentos}">
			  	<td><span th:text="${procedimento.tipoProcedimento}"></span></td>
			  	<td><a class="waves-effect waves-light btn-small editar"><i class="material-icons left">edit</i>Editar</a></td>
				<td><a class="waves-effect waves-light btn-small remover"><i class="material-icons left">delete</i>Remover</a></td>
			  </tr>
		  	</tbody> 
		  </table>
	  </section>
	  
	  <!-- Modal Structure -->
	  <div id="modal5" class="modal">
	    <div class="modal-content">
	      <form  method="post" th:object="${procedimento}">
				<div class=""> 
					  <div class="row"> 
					  		<div class="input-field col s6">
						  		Procedimento: <input type="text" value="" class="form-control" id="tipoProcedimento" name="tipoProcedimento"/>
						  	</div>
					  </div>
					  <div class="modal-footer">
					 	 <button class="btn waves-effect waves-light" type="submit">Salvar</button>
	     				 <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
	   				 </div> 
			   </div> 
		  </form>
	    </div>
	  </div>
  
  <!--Import jQuery before materialize.js-->
  	  <script src="jquery/jquery-3.2.1.js"></script>
	  <script src="jquery/main.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
      
</body>
</html>