<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	  <title>AgendaOnline</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" th:href="@{/materialize/css/materialize.min.css}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" th:href="@{/style/styleCss.css}"/>
      <link th:href="@{/style/fullcalendar.min.css}" rel="stylesheet" /> 
	  

</head>
<body>

	  <!-- HEADER -->
	  <header th:fragment="header">
		<div class="navbar-fixed">
		<nav class="menu">
		    <div class="nav-wrapper">
		     
		      <div class="menu-itens">
			      <ul class="menuesquerda left hide-on-med-and-down">
			        <li><a href="#">Prontuário - Dr. Michelli</a></li>
			        <li><div class="botao"><a href="/agendarconsulta" class="waves-effect waves-light btn"><i class="material-icons left">add_circle</i>Agendar Consulta</a></div></li>
			        <li><div class="botao"><a class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Espera</a></div></li>
			      </ul>
			      <ul id="nav-mobile" class="menudireita right hide-on-med-and-down">
			        <li><a href="#">Login</a></li>
			        <li><a href="#">Usuário</a></li>
			        <li><a href="#">Empresa</a></li>
			      </ul>
		      </div>
		      
		    </div>
		  </nav>
		  </div>
	  </header>
	
	
	 <!-- ASIDE -->
	  <div th:replace="LayoutPadrao:: aside"></div> <!-- Carregando o aside do arquivo externo layoutPadrao -->
	  
	  
	  <!-- SECTION -->
	  <section class="conteudo" th:fragment="conteudo"> <!-- section com conteudo criado aqui nesta mesma página -->
		  <!-- Conteudo -->
		  <div class="container cabecalho">
			  <div class="row" th:each="prontuario : ${prontuario}">
			  
			  		<div class="input-field col s6">			
		
			  			<p>Paciente: <span th:text="${prontuario.paciente.nome}"></span></p>
			  			
			  			<p>Procedimento: <span th:text="${prontuario.procedimento.tipoProcedimento}"></span></p>
			  			
			  			<p>Data:  <span th:text="${prontuario.data}"></span></p>
			  			
			  			<a class="waves-effect waves-light btn-small editar"><i class="material-icons left">edit</i>Editar</a>
				  			
						<a class="waves-effect waves-light btn-small remover"><i class="material-icons left">delete</i>Remover</a>
			  		
			  		</div>	
			  		
			  	</div>
		  </div>
		  
		  <div class="container">
		  	<h3>Detalhes</h3>
		  	<div class="row" th:each="prontuario : ${prontuario}">
		  		<p>Anamnese: <span th:text="${prontuario.anamnese}"></span></p>
		  		<p>Diagnóstico: <span th:text="${prontuario.diagnostico}"></span></p>
		  		<p>Procedimento Realizado: <span th:text="${prontuario.procedimentoRealizado}"></span></p>
		  		<p>Prescrição de Remédios: <span th:text="${prontuario.prescricaoRemedios}"></span></p>
		  		<p>Prescrição de Exames: <span th:text="${prontuario.prescricaoExames}"></span></p>
		  		<p>Resultados: <span th:text="${prontuario.resultados}"></span></p>
		  		<p>Observação: <span th:text="${prontuario.observacao}"></span></p>
		  
		  	</div>
		  </div>
	  </section>
  

  	
  <!--Import jQuery before materialize.js-->
  	  <script th:src="@{/js/jquery.min.js}"></script>
	  <script th:src="@{/js/moment.min.js}"></script>
	  <script th:src="@{/js/fullcalendar.min.js}"></script>
	  <script th:src="@{/js/lang-all.js}"></script>
	  <script th:src="@{/js/agendaEventos.js}"></script>
	  
  	  <!-- <script src="jquery/jquery-3.2.1.js"></script> -->
	  <!--  <script src="jquery/main.js"></script>-->
      <script type="text/javascript" th:src="@{/materialize/js/materialize.min.js}"></script>
      
</body>
</html>