<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	  <title>AgendaOnline</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>

</head>
<body>

	  <!-- HEADER -->
	  <header th:fragment="header">
		<div class="navbar-fixed">
		<nav class="menu">
		    <div class="nav-wrapper">
		     
		      <div class="menu-itens">
			      <ul class="menuesquerda left hide-on-med-and-down">
			        <li><a href="#">Convênios</a></li>
			        <li><div class="botao"><a href="/convenios" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Convênios</a></div></li>
			      </ul>
			      <ul id="nav-mobile" class="menudireita right hide-on-med-and-down">
			        <li><a href="#">Login</a></li>
			        <li><a href="#">Usuário</a></li>
			        <li><a href="#">Empresa</a></li>
			      </ul>
		      </div>
		      
		    </div>
		  </nav>
		  </div>
	  </header>
	
	
	 <!-- ASIDE -->
	  <div th:replace="LayoutPadrao:: aside"></div> <!-- Carregando o aside do arquivo externo layoutPadrao -->
	  
	  
	  <!-- SECTION -->
	  <section th:fragment="conteudo"> <!-- section com conteudo criado aqui nesta mesma página -->
		  <!-- Conteudo -->
		  <form  method="post" th:object="${convenio}">
				<div class="form"> 
					  <div class="row"> 
					  		<div class="input-field col s6">
						  		Convênio: <input type="text" value="" class="form-control" id="" name="nomeConvenio"/>
						  	</div>
					  </div>
					  <button class="btn waves-effect waves-light" type="submit">Salvar</button>
			   </div> 
		  </form>
		  
	  </section>
  
  <!--Import jQuery before materialize.js-->
  	  <script src="jquery/jquery-3.2.1.js"></script>
	  <script src="jquery/main.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
      
</body>
</html>