<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	  <title>AgendaOnline</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>

</head>
<body>

	  <!-- HEADER -->
	  <header th:fragment="header">
		<div class="navbar-fixed">
		<nav class="menu">
		    <div class="nav-wrapper">
		     
		      <div class="menu-itens">
			      <ul class="menuesquerda left hide-on-med-and-down">
			        <li><a href="#">Pacientes</a></li>
			        <li><div class="botao"><a href="#modal2" class="waves-effect waves-light btn modal-trigger"><i class="material-icons left">add_circle</i>Cadastrar Paciente</a></div></li>
			      </ul>
			      <ul id="nav-mobile" class="menudireita right hide-on-med-and-down">
			        <li><a href="#">Login</a></li>
			        <li><a href="#">Usuário</a></li>
			        <li><a href="#">Empresa</a></li>
			      </ul>
		      </div>
		      
		    </div>
		  </nav>
		  </div>
	  </header>
	
	
	 <!-- ASIDE -->
	  <div th:replace="LayoutPadrao:: aside"></div> <!-- Carregando o aside do arquivo externo layoutPadrao -->
	  
	  
	  <!-- SECTION -->
	  <section class="conteudo" th:fragment="conteudo"> <!-- section com conteudo criado aqui nesta mesma página -->
		  <!-- Conteudo -->
		  <table class="responsive-table highlight">
		  	<thead>
			  <tr>
			  			<th>Nome</th>		
			  			<th>Telefone</th> 		
			  			<th>Email</th>
			  			<th>Editar</th>
			  			<th>Remover</th>
			  </tr>
			</thead>
			<tbody>
			  <tr th:each="paciente : ${pacientes}">
			  		
			  			<td><a th:href="${(#mvc.url('PC#detalhes').arg(0, paciente.nome)).build()}" class="linkNome" role="button"><span th:text="${paciente.nome}"></span></a></td>
			  		
			  			<td><span th:text="${paciente.telefone}"></span></td>
			  		
			  			<td><span th:text="${paciente.email}"></span></td>
			  			
			  			<td><a class="waves-effect waves-light btn-small editar"><i class="material-icons left">edit</i>Editar</a></td>
				  			
				  		<td><a class="waves-effect waves-light btn-small remover"><i class="material-icons left">delete</i>Remover</a></td>
			  	
			  </tr>
			</tbody>
		  </table>
	  </section>
	  
	  <!-- Modal Structure -->
	  <div id="modal2" class="modal">
	    <div class="modal-content">
	    <h5>Cadastrar Paciente</h5>
	      <!-- Conteudo -->
		  <form  method="post" th:object="${paciente}">
				<div class=""> 
					  <div class="row"> 
						  	<div class="input-field col s12">
						  		Nome: <input type="text" value="" class="form-control" id="" name="nome"/>
						  	</div>
					  </div>
					  
					  <div class="row"> 
					  		<div class="input-field col s4">
						  		Nascimento: <input type="date" value="dd-mm-yyyy" class="form-control" id="" name="nascimento"/>
						  	</div>
					  		<div class="input-field col s4">
							    <select name="sexo">
							      <option value="">Sexo</option>
							      <option value="feminino">Feminino</option>
							      <option value="masculino">Masculino</option>
							    </select>
							</div>
							<div class="input-field col s4">
							    <select name="convenio.nomeConvenio">
							    	<option value="">Convênio</option>
								      <option th:each="convenio : ${convenios}" th:value="${convenio.nomeConvenio}" th:text="${convenio.nomeConvenio}"></option>
							    </select>
							</div>
					  </div>
					  	
					  <div class="row"> 
						  	<div class="input-field col s6">
						  		Endereço: <input type="text" value="" class="form-control" id="" name="endereco"/>
						  	</div>
						  	<div class="input-field col s3">
						  		Número: <input type="text" value="" class="form-control" id="" name="numero"/>
						  	</div>
						  	<div class="input-field col s3">
						  		Bairro: <input type="text" value="" class="form-control" id="" name="bairro"/>
						  	</div>
					  </div> 
					  
					  <div class="row"> 
						  	<div class="input-field col s6">
						  		Cidade: <input type="text" value="" class="form-control" id="" name="cidade"/>
						  	</div>
						  	<div class="input-field col s3">
						  		CEP: <input type="text" value="" class="form-control" id="" name="cep"/>
						  	</div>
						  	<div class="input-field col s3">
						  		Estado: <input type="text" value="" class="form-control" id="" name="estado"/>
						  	</div>
					  </div> 
					  
					  <div class="row"> 
						  	<div class="input-field col s6">
						  		Telefone: <input type="text" value="" class="form-control" id="" name="telefone"/>
						  	</div>
						  	<div class="input-field col s6">
						  		email: <input type="text" value="" class="form-control" id="" name="email"/>
						  	</div>
					  </div>
					  
					  <div class="row"> 
						  	<div class="input-field col s12">
						  		Observação: <input type="text" value="" class="form-control" id="" name="observacao"/>
						  	</div>
					  </div>
					  
					  <div class="modal-footer">
					  	  <button class="btn waves-effect waves-light modal-action modal-close" type="submit">Salvar</button>
					      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
					  </div>
			   </div> 
		  </form>
	    </div>
	  </div>
  
  <!--Import jQuery before materialize.js-->
  	  <script src="jquery/jquery-3.2.1.js"></script>
	  <script src="jquery/main.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
      
</body>
</html>